<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Welcome || Ha!k</title>
</head>
<div class="header">
    <header>
        <h1><a href="/">Ha!k</a></h1>
    </header>
</div>
<body class="haik-image4">
<div class="container" id="welcome-form">
    <h1>Velkommen til Haik</h1>
    <div id="intro"> Den beste måten å komme seg frem og tilbake.<br>
        Skal du ut og kjøre og har ledige seter?
        Vårt hyggelige nettverk gjør det enkelt å kjøre sammen.
        Bra for miljøet, bra for deg! <br>
    </div>
    <form>
        <p>Har du ikke en konto?</p>
        <a href="/register" class="btn " id="signUpButton"> Registrer deg her</a>
        <p>Dersom du allerede er registrert</p>
        <a href="/login" class="btn " id="signInButton"> Logg inn </a>
    </form>
</div>
</body>
</html>